.row-header {
	margin: 0px auto;
	padding: 0px 0px;
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.jumbotron {
	margin: 0px auto;
	padding: 70px 30px;
	background: #ff8000;
	color: floralwhite;
}

.carousel {
	background: #00ff00;
}

.carousel2 {
	background: #8080ff;
}

.carousel3 {
	background: #800080;
}

.carousel .carousel-item {
	height: 300px;
}

.footer {
	background-color: #D1C4E9;
	margin: 0px auto;
	padding: 20px 0px;
}

.carousel .carousel-item img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 300px;
	max-width: 400px;
}

.carousel .carousel-caption {
	position: absolute;
	top: 50px;
	left: 500px;
}

.profileBadge{
	height : 30px;
	width : 60px;
}